<section class="min-h-screen flex items-center justify-center bg-red-100">


    <!-- login container -->
    <div class="bg-gray-950 flex rounded-2xl shadow-lg max-w-3xl  p-8 items-center">




        <!-- form -->
        <div class="md:w-1/2 px-16 ">
            <h3 class="mb-4  my-7 text-xl font-medium text-white dark:text-white">New password..</h3>


            <!-- <div *ngIf="">
                <app-loading-spinner></app-loading-spinner>
            </div> -->

            <div *ngIf=" ">

                <p class="text-xs px-2 text-red-600 dark:text-red-400"> </p>
            </div>

            <form [formGroup]="resetPass" class="space-y-14 my-10">
                <div>

                    <input type="password" name="password" formControlName="password"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                        placeholder=" Enter The password" required>
                    <div
                        *ngIf="f['password'].touched && f['password'].dirty && f['password'].getError('required')!=null">

                        <p id="filled_success_help" class=" pt-2 px-2 mt-2 text-xs text-red-600 dark:text-red-400">
                            Enter the password</p>
                    </div>
                    <div
                        *ngIf="f['password'].touched && f['password'].dirty&&f['password'].getError('minlength')!=null">
                        <p id="filled_success_help" class=" pt-2 px-2 mt-2 text-xs text-red-600 dark:text-red-400">
                            Password should be of 6 characters</p>

                    </div>
                </div>


                <input type="password" name="confpassword" formControlName="confpassword"
                    class="bg-gray-50  my-5 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                    placeholder=" confirm password" required>

                <div
                    *ngIf="f['confpassword'].touched && f['confpassword'].dirty && f['confpassword'].getError('required')!=null">

                    <p id="filled_success_help" class=" pt-2 px-2 mt-2 text-xs text-red-600 dark:text-red-400">
                        Enter the password</p>
                </div>

                <div
                    *ngIf="f['confpassword'].touched && f['confpassword'].dirty && f['confpassword'].getError('mustmatch')!=null">
                    <p id="filled_success_help" class="px-2 mt-2 text-xs text-red-600 dark:text-red-400">
                        Password mismatched</p>

                </div>





                <button type="submit" [disabled]="resetPass.invalid" (click)="formSubmit()"
                    class="w-30 mx-4  text-white bg-orange-500  hover:scale-105 duration-300 focus:outline-none  font-medium rounded-lg text-xs px-5 py-2.5 text-center">submit</button>


            </form>
        </div>




        <!-- image -->
        <div class="w-1/2 md:block hidden">
            <img class="rounded-2xl " src="../../../../assets/image/Forgot password-amico (1).png" alt="">
        </div>

    </div>
</section>