<main class="overflow-x-hidden overflow-y-hidden">
    <nav class="bg-white  border-[#FFE7DE] dark:bg-gray-900 fixed w-full font-bold scroll-smooth drop-shadow-xl top-0">
        <div class=" max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-3 ">
            <a class="flex items-center">
                <img src="../../../../assets/image/Groupnow me logo.png" class="h-7 ml-3" alt="now&meLogo" />

            </a>
            <div class="hidden  items-center md:order-2">
                <button type="button"
                    class="flex mr-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
                    id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown"
                    data-dropdown-placement="bottom">
                    <span class="sr-only">Open user menu</span>
                    <img class="w-8 h-8 rounded-full" src="../../../../assets/image/asim fayas.jpg" alt="user photo">
                </button>
                <!-- Dropdown menu -->
                <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600"
                    id="user-dropdown">
                    <div class="px-4 py-3">
                        <span class="block text-sm text-gray-900 dark:text-white">Bonnie Green</span>
                        <span class="block text-sm  text-gray-500 truncate dark:text-gray-400">name@flowbite.com</span>
                    </div>
                    <ul class="py-2" aria-labelledby="user-menu-button">
                        <li>
                            <a href="#"
                                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Dashboard</a>
                        </li>
                        <li>
                            <a href="#"
                                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Settings</a>
                        </li>
                        <li>
                            <a href="#"
                                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Earnings</a>
                        </li>
                        <li>
                            <a
                                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                            </a>
                        </li>
                    </ul>
                </div>
                <button data-collapse-toggle="navbar-user" type="button"
                    class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                    aria-controls="navbar-user" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 17 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M1 1h15M1 7h15M1 13h15" />
                    </svg>
                </button>
            </div>
            <div class="items-center justify-between hidden w-full md:flex md:justify-end md:w-auto  md:order-1"
                id="navbar-user">
                <ul
                    class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                    <!-- <li>
                        <button class="bg-orange-500 text-white py-1 text-xs px-4 rounded-lg" >logout</button>
                    </li> -->
                    <li>
                        <a href="#"
                            class=" hidden  py-2 pl-3 pr-4 text-gray-900 font-bold  rounded hover:bg-gray-100 md:hover:bg-transparent md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">About</a>
                    </li>
                    <li>
                        <a href="#"
                            class="hidden py-2 pl-3 pr-4 text-gray-900 font-bold  rounded hover:bg-gray-100 md:hover:bg-transparent md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Services</a>
                    </li>
                    <li>
                        <a href="#"
                            class="hidden py-2 pl-3 pr-4 text-gray-900 font-bold  rounded hover:bg-gray-100 md:hover:bg-transparent md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Pricing</a>
                    </li>
                    <li>
                        <a href="#"
                            class="hidden py-2 pl-3 pr-4 text-gray-900 font-bold  rounded hover:bg-gray-100 md:hover:bg-transparent md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="form    mt-[52px] h-fit">
        <div class=" flex justify-center items-center mt-20 bg">
            <div class="">
                <ol class="items-center w-full space-y-4 sm:flex sm:space-x-36 sm:space-y-0">
                    <li class="flex items-center text-gray-500 dark:text-blue-500 space-x-2.5">
                        <span
                            class="flex items-center justify-center w-8 h-8 border border-gray-500 rounded-full shrink-0 dark:border-blue-500">
                            1
                        </span>
                        <span>
                            <h3 class="font-medium leading-tight">User info</h3>
                            <p class="text-sm">Step details here</p>
                        </span>
                    </li>
                    <li class="flex items-center   text-orange-500 dark:text-gray-400 space-x-2.5">
                        <span
                            class="flex items-center justify-center w-8 h-8 border border-orange-500  rounded-full shrink-0 dark:border-gray-400">
                            2
                        </span>
                        <span>
                            <h3 class="font-medium leading-tight">Company info</h3>
                            <p class="text-sm">Step details here</p>
                        </span>
                    </li>
                    <li class="flex items-center text-gray-500 dark:text-gray-400 space-x-2.5">
                        <span
                            class="flex items-center justify-center w-8 h-8 border border-gray-500 rounded-full shrink-0 dark:border-gray-400">
                            3
                        </span>
                        <span>
                            <h3 class="font-medium leading-tight">Payment info</h3>
                            <p class="text-sm">Step details here</p>
                        </span>
                    </li>
                </ol>
            </div>
            <div class="hidden"></div>
        </div>
    </section>
    <section class="m-5 ">
        <div class="pt-10">
            <p class="text-center text-2xl font-semibold"><span class="text-orange-500">Now&Me</span> Experts Panel</p>
            <p class="text-gray-500 text-center pt-2">Thank you for considering Now&Me as your next growth destination.
            </p>
        </div>
    </section>
    <section class="form2">
        <div class="mx-auto max-w-xl py-5">
            <form [formGroup]="form" (ngSubmit)="submit()" class="space-y-5">
                <div>
                    <label for="education"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Educational
                        Qualification</label>
                    <select id="education" formControlName="educationalQualification"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option selected>Choose</option>
                        <option value="Graduate">Graduate</option>
                        <option value="Post Graduate">Post Graduate</option>
                        <option value="PHD">PHD</option>
                        <option value="Diploma">Diploma</option>
                    </select>
                    <div *ngIf="form.get('educationalQualification')?.hasError('required') && form2Submitted">
                        <div class="text-red-600">Educational Qualification is required</div>
                    </div>
                </div>

                <div>
                    <label for="example2" class="mb-1 block text-sm font-medium text-gray-700">Educational
                        Institute</label>
                    <input type="text" id="example2" formControlName="educationalInstitute"
                        class="block w-full rounded-md border-gray-300 shadow-sm focus:border-primary-400 focus:ring focus:ring-primary-200 focus:ring-opacity-50 disabled:cursor-not-allowed disabled:bg-gray-50 disabled:text-gray-500"
                        placeholder="full name" />
                    <div *ngIf="form.get('educationalInstitute')?.hasError('required') && form2Submitted"
                        class="text-red-600">Educational Institute is required</div>
                </div>


                <div class="mx-auto space-y-3">
                    <label class="mb-1 block text-sm font-medium text-gray-700">Specialization(how do you help people)
                    </label>
                    <div class="flex items-center space-x-2">
                        <input type="radio" id="radioexample1" name="specialization" formControlName="specialization"
                            value="Therapist"
                            class="h-4 w-4 rounded-full border-gray-300 text-primary-600 shadow-sm focus:border-primary-300 focus:ring focus:ring-primary-200 focus:ring-opacity-50 focus:ring-offset-0 disabled:cursor-not-allowed disabled:text-gray-400" />
                        <label for="radioexample1" class="text-sm font-medium text-gray-700">Therapist/ Counselling
                            Psychologistt</label>
                    </div>
                    <div class="flex items-center space-x-2">
                        <input type="radio" id="radioexample2" name="specialization" formControlName="specialization"
                            value="Life Coach"
                            class="h-4 w-4 rounded-full border-gray-300 text-primary-600 shadow-sm focus:border-primary-300 focus:ring focus:ring-primary-200 focus:ring-opacity-50 focus:ring-offset-0 disabled:cursor-not-allowed disabled:text-gray-400" />
                        <label for="radioexample2" class="text-sm font-medium text-gray-700">Life Coach</label>
                    </div>
                    <div class="flex items-center space-x-2">
                        <input type="radio" id="radioexample3" name="specialization" formControlName="specialization"
                            value="Positivity Coach"
                            class="h-4 w-4 rounded-full border-gray-300 text-primary-600 shadow-sm focus:border-primary-300 focus:ring focus:ring-primary-200 focus:ring-opacity-50 focus:ring-offset-0 disabled:cursor-not-allowed disabled:text-gray-400" />
                        <label for="radioexample3" class="text-sm font-medium text-gray-700">Positivity Coach</label>
                    </div>
                    <div class="flex items-center space-x-2">
                        <input type="radio" id="radioexample4" name="specialization" formControlName="specialization"
                            value="Mindset Coach"
                            class="h-4 w-4 rounded-full border-gray-300 text-primary-600 shadow-sm focus:border-primary-300 focus:ring focus:ring-primary-200 focus:ring-opacity-50 focus:ring-offset-0 disabled:cursor-not-allowed disabled:text-gray-400" />
                        <label for="radioexample4" class="text-sm font-medium text-gray-700">Mindset Coach </label>
                    </div>
                    <div class="flex items-center space-x-2">
                        <input type="radio" id="radioexample5" name="specialization" formControlName="specialization"
                            value="Career Coach"
                            class="h-4 w-4 rounded-full border-gray-300 text-primary-600 shadow-sm focus:border-primary-300 focus:ring focus:ring-primary-200 focus:ring-opacity-50 focus:ring-offset-0 disabled:cursor-not-allowed disabled:text-gray-400" />
                        <label for="radioexample5" class="text-sm font-medium text-gray-700">Career Coach</label>
                    </div>
                    <div class="flex items-center space-x-2">
                        <input type="radio" id="radioexample6" name="specialization" formControlName="specialization"
                            value="Relationship Coach"
                            class="h-4 w-4 rounded-full border-gray-300 text-primary-600 shadow-sm focus:border-primary-300 focus:ring focus:ring-primary-200 focus:ring-opacity-50 focus:ring-offset-0 disabled:cursor-not-allowed disabled:text-gray-400" />
                        <label for="radioexample6" class="text-sm font-medium text-gray-700">Relationship Coach</label>
                    </div>
                    <div class="flex items-center space-x-2">
                        <input type="radio" id="radioexample7" name="specialization" formControlName="specialization"
                            value="Peer Listener"
                            class="h-4 w-4 rounded-full border-gray-300 text-primary-600 shadow-sm focus:border-primary-300 focus:ring focus:ring-primary-200 focus:ring-opacity-50 focus:ring-offset-0 disabled:cursor-not-allowed disabled:text-gray-400" />
                        <label for="radioexample7" class="text-sm font-medium text-gray-700">Peer Listener - None of the
                            above, I just want to help people!</label>
                    </div>
                    <div class="flex items-center space-x-2">
                        <div class="flex items-center space-x-2">
                            <input type="radio" id="radioexample8" name="radioGroup1" formControlName="specialization"
                                value="Other"
                                class="h-4 w-4 rounded-full border-gray-300 text-primary-600 shadow-sm focus:border-primary-300 focus:ring focus:ring-primary-200 focus:ring-opacity-50 focus:ring-offset-0 disabled:cursor-not-allowed disabled:text-gray-400" />
                            <label for="radioexample8" class="text-sm font-medium text-gray-700">Other</label>

                            <!-- Input field for custom value -->
                            <input type="text" id="otherValue" name="otherValue" formControlName="otherValue"
                                class="border border-gray-300 rounded-md px-2 py-1 focus:ring focus:ring-primary-200 focus:border-primary-300"
                                [disabled]="!form.get('specialization')?.value || form.get('specialization')?.value !== 'Other' ">
                            <!-- Display error message when 'Other' is selected but the custom value is empty -->
                            <div *ngIf="form.get('specialization')?.value === 'other' && form.get('otherValue')?.hasError('required') && form2Submitted"
                                class="text-red-600">Custom Specialization is required when 'Other' is selected
                            </div>
                        </div>

                    </div>
                    <div *ngIf="form.get('specialization')?.hasError('required') && form2Submitted"
                        class="text-red-600">Specialization is required</div>
                    <div *ngIf="form.get('specialization')?.value === 'Other' && form.get('otherValue')?.hasError('required') && form2Submitted"
                        class="text-red-600">pls provide the specilization you have(How do you help people ?)</div>

                </div>

                <label class="mb-1 block text-sm font-medium text-gray-700">Areas of Expertise
                </label>
                <div class="flex items-center mb-4">

                    <input id="checkbox1" type="checkbox" value=""
                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label for="checkbox1 "
                        class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Life</label>
                </div>
                <div class="flex items-center">
                    <input id="checkbox2" type="checkbox" value=""
                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label for="checkbox2"
                        class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Positivity</label>
                </div>
                <div class="flex items-center">
                    <input id="checkbox3" type="checkbox" value=""
                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label for="checkbox3"
                        class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Relationships/
                        Love</label>
                </div>
                <div class="flex items-center">
                    <input id="checkbox4" type="checkbox" value=""
                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label for="checkbox4"
                        class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Career</label>
                </div>
                <div class="flex items-center">
                    <input id="checkbox5" type="checkbox" value=""
                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label for="checkbox5"
                        class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Mindset</label>
                </div>
                <div class="flex items-center">
                    <input id="checkbox6" type="checkbox" value=""
                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label for="checkbox6"
                        class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Family</label>
                </div>

                <div>
                    <label for="experiencetext" class="mb-1 block text-sm font-medium text-gray-700">How many years of
                        relevant work experience do you have?
                    </label>
                    <input type="text" id="experiencetext"
                        class="block w-full rounded-md border-gray-300 shadow-sm focus:border-primary-400 focus:ring focus:ring-primary-200 focus:ring-opacity-50 disabled:cursor-not-allowed disabled:bg-gray-50 disabled:text-gray-500"
                        placeholder="relevant work experience" />
                </div>
                <div>
                    <label for="example4" class="mb-1 block text-sm font-medium text-gray-700">Certification/Degree
                    </label>
                    <input type="file" id="example4" class="block w-full rounded-md " placeholder="full name" />
                </div>
                <button type="submit" (click)="submit()"
                    class="rounded-lg border border-primary-500 bg-orange-500 px-5 py-2.5 text-center text-sm font-medium text-white shadow-sm transition-all hover:border-primary-700 hover:bg-primary-700 focus:ring focus:ring-primary-200 disabled:cursor-not-allowed disabled:border-primary-300 disabled:bg-primary-300">Next</button>
            </form>
        </div>
    </section>
</main>