<main>
    <div class=" overflow-x-hidden overflow-y-hidden">
        <app-navbar></app-navbar>
        <section class="hero">
            <div class="bg-[#FFE7DE] w-full mt-14 p-16 pb-0">
                <div class="flex  justify-around grid-rows-2">
                    <div>
                        <h1 class="font-semibold text-lg md:text-2xl leading-normal"><span
                                class="text-orange-500 leading-normal">Your Safe Space to Talk and Heal</span> at<br>
                            Now&Me </h1>
                    </div>
                    <div class="">
                        <svg viewBox="0 0 124 92" fill="none" xmlns="http://www.w3.org/2000/svg"
                            class="w-[40px] h-[40px] md:w-[124px] md:h-[92px] absolute top-16 left-0">
                            <path
                                d="M121-2c-2 27-17 30-27.345 29.25-10.345-.75-20.585-15.899-35.397-4.295C47.125 31.676 56.006 49.797 44 57c-15 9-24.32 1.343-31.5-1.25C-14.5 46-30.5 66.5-29 91"
                                stroke="#FFC6B5" stroke-width="6"></path>
                        </svg>
                    </div>
                    <div class="pl-5">
                        <div class="-mt-16 ml-14 pl-7">
                            <img class="h-44"
                                src="../../../../assets/image/undraw_Happy_announcement_re_tsm0-removebg-preview.png"
                                alt="">
                        </div>
                    </div>
                    <div class="-mt-5">
                        <svg viewBox="0 0 176 132" fill="none" xmlns="http://www.w3.org/2000/svg"
                            class="hidden md:block w-[88px] h-[66px] md:w-[176px] md:h-[132px] absolute  right-0">
                            <path
                                d="M5 134c1.17-15.872 8.575-23.598 17.151-26.819s17.93 5.258 29.833 8.546c5.249 1.45 11.485 5.137 19.747 0 4.626-2.877 5.871-9.093 7.72-21.682 1.45-9.873 6.627-20.798 14.033-24.63 12.109-6.263 21.785.553 31.573 7.128 15.853 10.65 45.278 10.472 59.249-29.02C191.195 28.05 194.831 7.02 196 1"
                                stroke="#FFC6B5" stroke-width="10"></path>
                        </svg>
                    </div>
                </div>
            </div>

        </section>

        <section class="changenavigation">
            <div class="flex justify-center mt-10">
                <div class="space-x-0">
                    <button class="  border-2 px-36 py-2 rounded-l-xl" [ngClass]="{ 
                        ' bg-orange-500  text-white': showChats ,
                      ' bg-transparent  text-black ': showAppoinments
                      }" (click)="changeSectionToChats()" type="button">Chats</button>
                    <button class="px-36  border-2   rounded-e-xl py-2" type="button"
                        (click)=" changeSectionToAppoinments()" [ngClass]="{ ' bg-orange-500  text-white':  showAppoinments ,
                       ' bg-transparent  text-black ':  showChats }">Appoinments</button>
                </div>
            </div>
        </section>
        <ng-container *ngIf="showChats"> <app-chat-user></app-chat-user></ng-container>

        <ng-container *ngIf="showAppoinments"> <app-appoinments></app-appoinments></ng-container>

        <div>
            <app-footer></app-footer>
        </div>
    </div>
</main>