<main class="overflow-x-hidden overflow-y-hidden">
    <nav class="bg-white  border-[#FFE7DE] dark:bg-gray-900 fixed w-full font-bold scroll-smooth drop-shadow-xl top-0">
        <div class=" max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-3 ">
            <a class="flex items-center">
                <img src="../../../../assets/image/Groupnow me logo.png" class="h-7 ml-3" alt="now&meLogo" />

            </a>


        </div>
    </nav>
    <section class="mt-15 h-fit bg-[#FFE5DD]">
        <div class="flex pb-24 pt-24 pl-32 pr-32 justify-center  space-x-4">
            <div>
                <h1 class="text-5xl font-bold leading-[2.5rem] md:leading-[4rem] lg:w-10/12">Become an Expert <br> at
                    <span class="text-orange-500">Now&Me</span>
                </h1>
                <p class="text-lg text-[#171717bf] lg:w-10/12 font-regular text-gray-700 mt-4 leading-[1.75rem]">More
                    than 60 mental health experts are helping people access high-quality mental health care at
                    affordable rates. Are you someone who shares the same beliefs? Then you are in the right place.</p>
                <button
                    class="focus:outline-none focus:ring-orange-300  hover:bg-orange-600 active:bg-orange-700 mt-8 font-semibold bg-orange-500 px-5 py-2  rounded-lg text-white"
                    (click)="ExpertRegiterForm()">
                    Join</button>
                <button
                    class="focus:outline-none ml-5 focus:ring-orange-300  hover:bg-orange-600 active:bg-orange-700 mt-8 font-semibold bg-orange-500 px-5 py-2  rounded-lg text-white"
                    (click)=" expertLogin()">
                    Login
                </button>
            </div>
            <div class="h-96 my-2">

                <img class=" h-[500px] w-[1200px] "
                    src="../../../../assets/image/12_Tips_Every_It_Guy_Should_Know_Man_With_Laptop_PNG_Image_With_Transparent_Background_png_-_Free_PNG_Images-removebg-preview.png"
                    alt="">
            </div>
        </div>
    </section>
    <section class="h-fit">
        <div class="flex justify-center pt-24">
            <div class="w-1/4"></div>
            <div class="w-1/4 pr-0"><img class="h-3/5" src="../../../../assets/image/mobpngexperts-removebg-preview.png"
                    alt=""></div>
            <div class="w-1/4 pl-0 scroll pb-32 flex flex-col justify-center"> <!-- Added flex classes here -->
                <p class="font-bold text-3xl md:text-3xl mb-4 md:mb-8 xl:w-max">About the Now&Me <span
                        class="text-orange-500">Community</span></p>
                <p class="text-base text-[#171717bf] leading-7 md:leading-8">Now&Me aims to transform the mental
                    healthcare delivered in India by creating a community free of judgment and stigma. With the help of
                    technology and modern tools, we wish to erase the notion of not being able to express ourselves
                    freely because of crude judgments and comments.</p>

            </div>
            <div class="w-1/4 pr-0"></div>
        </div>
    </section>

</main>