<section class="freeslotes">

    <div class="-mt-10">
        <h5 class="text-black font-medium text-lg pb-10">Available Slots:</h5>

        <div class="-mt-5 ml-3  flex-col align-middle flex-grow space-x-2 space-y-2 ">

            <button
                class="bg-transparent border border-orange-500 py-2 px-2 text-xs text-orange-500 font-medium rounded-lg">2:00
                pm
                -
                3:00 pm</button>
            <button
                class="bg-transparent border border-orange-500 py-2 px-2 text-xs text-orange-500 font-medium rounded-lg">2:00
                pm
                -
                3:00 pm</button>
            <button
                class="bg-transparent border border-orange-500 py-2 px-2 text-xs text-orange-500 font-medium rounded-lg">2:00
                pm
                -
                3:00 pm</button>
            <button
                class="bg-transparent border border-orange-500 py-2 px-2 text-xs text-orange-500 font-medium rounded-lg">2:00
                pm
                -
                3:00 pm</button>


        </div>



    </div>

</section>