<main class="overflow-x-hidden overflow-y-hidden ">
    <app-navbar></app-navbar>

    <section class="  ">
        <div class=" flex h-fit  justify-center pt-10">
            <div class="mt-24">
                <h1
                    class="font-semibold text-3xl md:text-5xl text-center md:text-left max-w-[550px] md:leading-[3.5rem]">

                    <span class="leading-3">Certified Therapists you can trust</span> <br>
                    <span class="leading-3 text-gray-700"></span>
                </h1>
                <p class="font-regular text-base text-gray-700 max-w-[650px] mt-4 text-center md:text-left"><span>
                        <p class="mb-4">Whether you're feeling anxious, stressed, or unfulfilled, Now&amp;Me Experts are
                            here to help you at every step of your mental health &amp; self improvement journey.</p>
                        <p>Speak to online psychotherapists, life coaches, psychologists, career coaches and
                            psychiatrists, INSTANTLY!</p>
                    </span></p>
            </div>


            <div class="mt-28">
                <img class="h-64 align-middle justify-center "
                    src="../../../../assets/image/image__1__expert-removebg-preview.png  " alt="">
            </div>


        </div>

    </section>
    <section class="mt-4">
        <div class="flex justify-center ">
            <div class=" bg-[#FFE7DE] rounded-md relative p-5 overflow-hidden w-1/2">
                <p class="font-medium">One conversation can change your life. Connect with an expert today for a price
                    as low as <span class="text-orange-500">₹3/min</span></p>
            </div>
        </div>
    </section>

    <section>
        <div class=" flex  ml-20 mt-12 ">
            <label class="font-medium pt-2">Who do you want to consult?</label>

            <div class="">
                <div class=" select-container rounded-md">
                    <select class="styled-select">
                        <option selected>All</option>
                        <option value="option1">Life Coach</option>
                        <option value="option2">Therapist</option>
                        <option value="option3">Career Coach</option>
                    </select>
                </div>



            </div>

            <div class="hidden ">
                <label for="underline_select" class="sr-only">Underline select</label>
                <select id="underline_select"
                    class="block py-2.5 px-0  text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-200 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer">
                    <option selected>All</option>
                    <option value="Life Coach">Life Coach</option>
                    <option value="CA">Therapist</option>
                    <option value="FR">Career Coach</option>
                    <option value="DE">Relationship Coach</option>
                </select>

            </div>
        </div>
    </section>
    <section>
        <ng-container *ngIf="isLoading==true">
            <div class="ml-6">
                <app-loading-spinner-user></app-loading-spinner-user>
            </div>
        </ng-container>
        <div class="grid grid-cols-1 md:px-50 lg:px-0 lg:grid-cols-3 gap-4 mt-4 align-middle">



            <!-- card start -->
            <ng-container *ngIf="isLoading==false">
                <div *ngFor="let experts of listExperts"
                    class="max-w-lg mx-auto bg-white shadow-lg rounded-lg overflow-hidden m-4">


                    <div class="max-w-lg mx-auto  shadow-lg rounded-lg overflow-hidden border">
                        <div class="md:flex">
                            <!-- Left side with the image -->

                            <div class="md:w-1/2 ">
                                <img [src]="'https://avatars2.githubusercontent.com/u/'+hexToDecimal(experts._id)  + '?s=360'"
                                    alt="Image" class="w-2/3 mx-auto mt-6" />
                            </div>
                            <!-- Right side with content -->
                            <div class="md:w-1/2 px-4 py-6">
                                <!-- Person's Name -->
                                <h2 class="text-lg font-semibold text-gray-800">{{experts.name}}</h2>
                                <!-- Person's Position -->
                                <h3 class="text-xs font-medium text-gray-600 ">{{experts.specialization}}</h3>
                                <!-- Content 3 -->
                                <!-- rating -->
                                <div class="flex items-center space-x-2 pt-2">
                                    <ng-container *ngFor="let i of [1, 2, 3, 4, 5]; let index = index">
                                        <svg [class]="'w-4 h-4 ' + (experts.rating >= index + 1 ? 'text-yellow-300' : 'text-gray-300')"
                                            aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                            viewBox="0 0 22 20">
                                            <path
                                                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                                        </svg>
                                    </ng-container>
                                </div>

                                <!-- Horizontal alignment for last three content elements -->
                                <div class="flex">
                                    <div class="flex flex-row flex-wrap gap-3 sm:gap-5 pt-4 -space-y-4 md:mt-0">
                                        <div class="flex flex-row items-center ">
                                            <div class="h-[20px] w-[20px] bg-[#FF6D4226] rounded-md">
                                                <svg width="20" height="20" viewBox="0 0 32 32" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path d="m24.125 10.375-7.5 7.5L13.5 14.75l-5.625 5.625"
                                                        stroke="#FF6D42" stroke-width="1.5" stroke-linecap="round"
                                                        stroke-linejoin="round">
                                                    </path>
                                                    <path d="M24.125 15.375v-5h-5" stroke="#FF6D42" stroke-width="2"
                                                        stroke-linecap="round" stroke-linejoin="round"></path>
                                                </svg>
                                            </div>
                                            <p class="ml-2 font-medium text-[#171717BF] text-xs ">
                                                <span>{{experts.sessionCount || 0}} </span>Sessions
                                            </p>
                                        </div>
                                        <div class="flex flex-row items-center ">
                                            <div class="h-[20px] w-[20px] bg-[#FF6D4226] rounded-md">
                                                <svg width="20" height="20" viewBox="0 0 32 32" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M12.667 11v-.667c0-1.475 0-2.666 2.667-2.666h1.333c2.667 0 2.667 1.191 2.667 2.666V11m-6.667 13.333h6.667c3.35 0 3.95-1.341 4.125-2.975l.625-6.666c.225-2.034-.358-3.692-3.917-3.692h-8.333c-3.558 0-4.142 1.658-3.917 3.692l.625 6.666c.175 1.634.775 2.975 4.125 2.975Z"
                                                        stroke="#FF6D42" stroke-width="1.5" stroke-miterlimit="10"
                                                        stroke-linecap="round" stroke-linejoin="round"></path>
                                                    <path
                                                        d="M17.67 17.683v-.85c0-.833 0-.833-.833-.833h-1.666c-.833 0-.833 0-.833.833v.859m3.333-.009c0 .909-.008 1.65-1.667 1.65-1.65 0-1.667-.733-1.667-1.641m3.334-.009a13.736 13.736 0 0 0 6.375-2.516m-9.708 2.525a13.568 13.568 0 0 1-6.15-2.3"
                                                        stroke="#FF6D42" stroke-width="1.5" stroke-miterlimit="10"
                                                        stroke-linecap="round" stroke-linejoin="round"></path>
                                                </svg>
                                            </div>
                                            <p class="ml-2 font-medium text-[#171717BF] text-xs ">
                                                <span>{{experts.experience}}</span> yrs experience
                                            </p>
                                        </div>
                                        <div class="flex flex-row items-center">
                                            <div class="h-[20px] w-[20px] bg-[#FF6D4226] rounded-md">
                                                <svg width="20" height="20" viewBox="0 0 32 32" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="m24.125 22.875-4.375-8.75-4.375 8.75m1.25-2.5h6.25m-10-11.875v1.875m-5 0h10m-2.5 0a7.5 7.5 0 0 1-7.5 7.5"
                                                        stroke="#FF6D42" stroke-width="1.5" stroke-linecap="round"
                                                        stroke-linejoin="round"></path>
                                                    <path d="M10.805 12.875a7.5 7.5 0 0 0 7.07 5" stroke="#FF6D42"
                                                        stroke-width="1.5" stroke-linecap="round"
                                                        stroke-linejoin="round">
                                                    </path>
                                                </svg>
                                            </div>
                                            <div *ngFor="let languages of experts.languages">
                                                <p class="ml-2 font-medium text-[#171717BF] text-xs ">{{languages}}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>
                        <div class="bg-[#FFE7DE] flex  align-middle justify-around ">

                            <div class="py-3">
                                <p class="text-red-500 text-base font-semibold">₹
                                    <span>{{experts.hourlySessionCharge}}</span>/Session
                                </p>
                            </div>
                            <div class="py-2">
                                <button type="button" (click)="viewExpert(experts._id)"
                                    class=" bg-orange-500  hover:bg-orange-600 active:bg-orange-700 focus:outline-none focus:ring-orange-300 text-white py-2 px-10 rounded-md  text-xs">Book
                                    Session</button>
                            </div>
                        </div>
                    </div>

                </div>
            </ng-container>
            <!-- card end -->
        </div>


    </section>

    <app-footer></app-footer>

</main>