<div class="flex bg-cover bg-center h-full "
    style=" background-image: url('../../../../assets/image/admindashboard.png'); ">
    <app-navsidebar></app-navsidebar>
    <main class=" min-w-0 flex-1 overflow-auto  ml-96 ">


        <div class="rounded-3xl ml-36 mt-16 shadow-lg border w-1/2   h-1/2 ">
            <ng-container class="ml-36 mt-16 w-1/2   h-1/2" *ngIf="loadingspinner==true">
                <app-loading-spinner></app-loading-spinner>
            </ng-container>
            <ng-container *ngIf="loadingspinner==false">
                <!-- <div class="ml-[94%] pt-3">
                    <div class="flex ">
                        <svg class="  w-6 h-6 text-gray-400 hover:text-blue-700 dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 18">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4.109 17H1v-2a4 4 0 0 1 4-4h.87M10 4.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm7.95 2.55a2 2 0 0 1 0 2.829l-6.364 6.364-3.536.707.707-3.536 6.364-6.364a2 2 0 0 1 2.829 0Z" />
                        </svg>
                    </div>
                </div> -->

                <div class="flex justify-center p-5 -ml-40">



                    <div class="">


                        <img alt="..." src="https://i.pinimg.com/474x/85/25/83/852583511c3109d7a4efa0c3a233be1e.jpg"
                            class="rounded-full absolute  w-40 h-40  shadow-md border-4 border-white transition duration-200 transform hover:scale-110" />


                    </div>



                </div>

                <div class="inline-block mt-40 ml-48">
                    <p class="text-xl font-bold text-slate-600 ml-12 pt-2">{{admin.name}}</p>
                    <p class="text-xl font-bold text-slate-600 pt-2">{{admin.email}}</p>
                </div>
            </ng-container>
        </div>






    </main>

</div>